body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
    font-size: 15px;
    table-layout: fixed;
}
thead {
    border-bottom: 1px solid @rendered_html_border_color;
    vertical-align: bottom;
}
tr, th, td {
    text-align: right;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}
th {
    font-weight: bold;
}
tbody tr:nth-child(odd) {
    background: #f5f5f5;
}
tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}
* + table {margin-top: 1em;}
